<!--
    Name: Jittima Goodrich
    Date: 4/10/2019
    File: home.html
    view file for the dating website
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Dating Website</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link href="styles/styles.css" rel="stylesheet">
</head>
<body>

        <ul class="nav">
            <li class="nav-item">
                <p id="nav" class="nav-link active">My Dating Website</p>
            </li>
        </ul>


        <div class="container">
            <div class="row border rounded">
                <div class="col-sm-6">
                    <h2 class="text-center">My Dating Website</h2>
                    <p>Welcome to the web's most successful dating website. At My Dating Website
                    you'll meet another like minded individuals. We have the highest success rate
                    of couples on the web. User's are matched by interest and location. Find out why
                    so many others have found love on our site!</p>
                    <h3 class="text-center">Hear what our users are saying about us.</h3>
                    <hr>
                    <div class="font-italic">
                        <p class="text-center">"I met the love of my life after only a month!" - Zara</p>
                    </div>

                    <hr>

                    <div class="text-center">
                        <button type="button"  class="btn btn-primary">Create a Profile!</button>

                    </div>



                </div>
                <div class="col-sm-6">
                    <img src="images/ziggyzara.jpeg" class="img-fluid rounded mx-auto d-block"
                         alt="Ziggy Zara">
                </div>

            </div>
        </div>

</body>
</html>