<!--
    Name: Jittima Goodrich
    Date: 4/14/2019
    File: interests.php
    Interests information form


-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Interests</title>
</head>
<body>

<nav class="navbar navbar-light bg-light">
      <span class="navbar-text">
        The Dog Dating Website
      </span>
</nav>

<div class="container">
    <div class="row border rounded my-4">

        <div class="col-sm-12">
            <h1>Interests</h1>
            <hr>
        </div>


        <div class="col-sm-6">

            <form action="summary.html" method="post">



            </form>
        </div>

        <div class="col-sm-6 my-4">

            <div class="form-row">
                <button type="submit" class="btn btn-primary btn-sm">Next></button>
            </div>

        </div>



    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



</body>
</html>