<!--
    Name: Jittima Goodrich
    Date: 4/14/2019
    File: personal.html
    Personal information form

-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link href="styles/styles.css" rel="stylesheet">
    <title>Personal</title>

</head>
<body>

<nav class="navbar navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
    <li class="nav-item">
        <a id="text" class="nav-link" href="../dating">The Dog Dating Website</a>
    </li>
    </ul>
</nav>

<form action="profile" method="post">

<div class="container border rounded my-4">
    <div class="row pl-4 mt-4">
            <div class="col-sm-12 pr-4">
                <h1>Personal Information</h1>
                <hr>
            </div>

        <div class="col-sm-8">

                <div class="form-row">
                        <p><strong>First Name</strong></p>
                    <div class="input-group">
                        <input type="text" class="form-control input-group-addon" name="first_name">
                        <div class="input-group-addon">
                            <img src="images/icons8-contact-40.png" alt="profile">
                        </div>
                    </div>
                </div>

                <div class="form-row pt-2">
                        <p><strong>Last Name</strong></p>
                        <input type="text" class="form-control" name="last_name">
                </div>

                <div class="form-row pt-2">
                        <p><strong>Age</strong></p>
                        <input type="text" class="form-control" name="age">
                </div>

            <div class="form-row pt-3">
                <p><strong>Gender</strong></p>
            </div>

            <div class="form-row">
                <div class="col-sm-1 pl-4">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="gender"
                                  value="Male"> Male
                    </label>
                </div>

                <div class="col-sm-1 pl-4">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="gender"
                                  value="Female"> Female
                    </label>
                </div>
            </div>

            <div class="form-row pt-2">
                    <p><strong>Phone Number</strong></p>
                    <input type="tel" class="form-control" name="phone">
            </div>

        </div>

        <div class="col-md-4 pr-4 pt-4">
                <div class="border rounded alert alert-secondary">
                    <p><strong>Note:</strong> All information entered is protected by our
                        <a href="#" class="text-decoration-none">privacy policy.</a> Profile information
                        can only be viewed by others with your
                        permission.</p>
                </div>
        </div>
    </div>
        <div id="next" class="row mb-2 pr-2 pt-2">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-sm float-right">Next></button>
            </div>

        </div>

</div>

</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



</body>
</html>
