<!--
    Name: Jittima Goodrich
    Date: 4/14/2019
    File: profile.php
    Profile information form


-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Profile</title>
</head>
<body>

<nav class="navbar navbar-light bg-light">
      <span class="navbar-text">
        The Dog Dating Website
      </span>
</nav>

<div class="container">
    <div class="row border rounded my-4">

        <div class="col-sm-12">
            <h1>Profile</h1>
            <hr>
        </div>


        <div class="col-sm-6">

            <form action="interest.html" method="post">

                <div class="form-row">
                    <div class="col-md-10">
                        <p><strong>Email</strong></p>
                        <input type="email" class="form-control" name="email"
                               value="email">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-10">
                        <p><strong>State</strong></p>
                        <input type="text" class="form-control" name="state"
                               value="email">
                    </div>
                </div>

                <p><strong>Seeking</strong></p>
                <label><input type="radio" name="seeking" value="Male"> Male</label>
                <label><input type="radio" name="seeking" value="Female"> Female</label><br>

            </form>
        </div>

        <div class="col-sm-6 my-4">
            <p><strong>Biography</strong></p>
            <p>All information entered is protected
                by our privacy policy. Profile information
                can only be viewed by others with your
                permission.</p>

            <div class="form-row">
                <button type="submit" class="btn btn-primary btn-sm">Next></button>
            </div>

        </div>



    </div>

</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



</body>
</html>

