<!--
    Name: Jittima Goodrich
    Date: 4/14/2019
    File: profile.html
    Profile information form
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="styles/styles.css" rel="stylesheet">
    <title>Profile</title>

</head>
<body>

<nav class="navbar navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a id="text" class="nav-link" href="../dating">The Dog Dating Website</a>
        </li>
    </ul>
</nav>


<form action="#" method="post">
    <div class="container border rounded my-4">
        <div class="row pl-4 mt-4">

        <div class="col-sm-12 pr-4">
            <h1>Profile</h1>
            <hr>
        </div>

        <div class="col-sm-6">
            <div class="form-row">
                <label><strong>Email</strong></label>
                <input type="email" class="form-control" name="email" value="{{ @email }}">
                <check if="{{ isset(@errors['email']) }}">
                    <span class="err">{{ @errors['email'] }}</span>
                </check>

            </div>

            <div class="form-row">
                <label><strong>State</strong></label>
                <select class="form-control" name="state">
                    <option value="WASHINGTON">WASHINGTON</option>
                    <option value="OREGON">OREGON</option>
                    <option value="IDAHO">IDAHO</option>
                </select>
            </div>

            <div class="form-row">
                <label><strong>Seeking</strong></label>
            </div>

            <div class="form-row">
                <div class="col-sm-2 pl-4">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="seeking"
                               value="Male"
                        <check if="{{ @seeking === 'Male' }}">checked</check>> Male
                    </label>
                </div>

                <div class="col-sm-1">
                    <label class="form-check-label">
                        <input class="form-check-input" type="radio" name="seeking"
                               value="Female"
                        <check if="{{ @seeking === 'Female' }}">checked</check>> Female
                    </label>
                </div>
            </div>


        </div>

        <div class="col-sm-6 pr-4">
            <label><strong>Biography</strong></label>
            <textarea class="form-control" name="bio" rows="5">{{ @bio }}</textarea>

        </div>
        </div>

        <div>
            <check if="{{ isset(@errors) }}">
                <repeat group="{{ @errors }}" name="{{ @key }}" value="{{ @value }}">
                    <p>{{ @error }}</p>

                </repeat>
            </check>
        </div>

    <div class="row mb-2 pr-2">
        <div class="col-sm-12">
            <button type="submit" class="btn btn-primary btn-sm float-right">Next></button>
        </div>
    </div>


    </div>



</form>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



</body>
</html>

