<!--
    Name: Jittima Goodrich
    Date: 4/14/2019
    File: summary.html
    Summary information form
-->
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link href="styles/styles.css" rel="stylesheet">
    <title>Summary</title>

</head>
<body>

<nav class="navbar navbar-light bg-light">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a id="text" class="nav-link" href="../dating">The Dog Dating Website</a>
        </li>
    </ul>
</nav>


    <div class="container border rounded my-4">
        <div class="row pl-4 mt-4">

            <div class="col-sm-6">

                    <ul class="list-group pl-2">
                        <li class="list-group-item">Name: {{ @SESSION.member->getFname() }}
                            {{ @SESSION.member->getLname() }}</li>
                        <li class="list-group-item">Gender: {{ @SESSION.member->getGender() }}</li>
                        <li class="list-group-item">Age: {{ @SESSION.member->getAge() }}</li>
                        <li class="list-group-item">Phone: {{ @SESSION.member->getPhone() }}</li>
                        <li class="list-group-item">Email: {{ @SESSION.member->getEmail() }}</li>
                        <li class="list-group-item">State: {{ @SESSION.member->getState() }}</li>
                        <li class="list-group-item">Seeking: {{ @SESSION.member->getSeeking() }}</li>

                        <check if="{{ @SESSION.member instanceof PremiumMember }}">
                            <li class="list-group-item">Interests:
                                {{ implode(', ', @SESSION.member->getInDoorInterests()) }}
                                {{ implode(', ', @SESSION.member->getOutDoorInterests()) }}</li>
                        </check>
                    </ul>

            </div>

            <div class="col-sm-6 pr-4">
                <div class="text-center">
                    <img id="profile" src="images/profile-pic.PNG" class="img-fluid rounded mx-auto d-block"
                         alt="profile pic">
                </div>

                <div>
                    <h5 class="pl-4 pt-2 pl-2">Biography</h5>
                    <p class="text-break pr-4 pl-4">{{ @SESSION.member->getBio() }}</p>
                    </div>

            </div>
        </div>


        <div class="row mb-2 pr-2">
            <div class="col-sm-12 text-center">
                <button type="submit" class="btn btn-primary">Contact Me!</button>
            </div>
        </div>
    </div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>



</body>
</html>

