/*
    Name: Jittima Goodrich
    Date: 4/10/2019
    File: styles.css
    css for dating website
 */

#pic {
    padding: 20px;
}

#comment {
    padding-left: 20px;
    padding-right: 20px;
}

#btn {
    margin-bottom: 20px;
}

